# Data Preprocessing

#1.rastgele eksik degerler olustur. gercek degerleri sakla.
#2.olasi tum yontemleri deneyerek eksik olarak sakladigim indexleri doldur.
#3. MSE

In [311]:

import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale 
from sklearn.preprocessing import StandardScaler
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import neighbors
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale 
from sklearn.preprocessing import StandardScaler
from sklearn import model_selection
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import neighbors
from sklearn.svm import SVR

from warnings import filterwarnings
filterwarnings('ignore')
from sklearn.linear_model import Ridge, Lasso, ElasticNet

In [312]:
df = sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [313]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [314]:

df.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [316]:
# df = pd.get_dummies(df, columns = ["method"], drop_first = True)
# Missing value deki kategori sayisi ile uyusmuyor o yuzden methodu da veriden atiyorum.
df = df.dropna()

In [317]:
from sklearn.model_selection import train_test_split, GridSearchCV
y = pd.DataFrame(df["orbital_period"])
X = df.drop(["orbital_period","mass","distance","method"],axis=1)


X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                        test_size=0.20, 
                                                        random_state=46)

KeyError: "['method'] not found in axis"

In [318]:
X.describe()

          number         year
count  498.00000   498.000000
mean     1.73494  2007.377510
std      1.17572     4.167284
min      1.00000  1989.000000
25%      1.00000  2005.000000
50%      1.00000  2009.000000
75%      2.00000  2011.000000
max      6.00000  2014.000000

In [319]:
y.describe()

       orbital_period
count      498.000000
mean       835.778671
std       1469.128259
min          1.328300
25%         38.272250
50%        357.000000
75%        999.600000
max      17337.500000

In [320]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498 entries, 0 to 784
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   number                                498 non-null    int64
 1   orbital_period                        498 non-null    float64
 2   mass                                  498 non-null    float64
 3   distance                              498 non-null    float64
 4   year                                  498 non-null    int64
 5   method_Eclipse Timing Variations      498 non-null    uint8
 6   method_Imaging                        498 non-null    uint8
 7   method_Microlensing                   498 non-null    uint8
 8   method_Orbital Brightness Modulation  498 non-null    uint8
 9   method_Pulsar Timing                  498 non-null    uint8
 10  method_Pulsation Timing Variations    498 non-null    uint8
 11  method_Radial Velocity                498 non-null    uint8
 12  method_Transit                        498 non-null    uint8
 13  method_Transit Timing Variations      498 non-null    uint8
dtypes: float64(3), int64(2), uint8(9)
memory usage: 27.7 KB

In [321]:
models = []
models.append(('LR', LinearRegression()))
models.append(('RR', Ridge()))
models.append(('LR', Lasso()))
models.append(('ER', ElasticNet()))
models.append(('KNN', KNeighborsRegressor()))
models.append(('CART', DecisionTreeRegressor()))
models.append(('RF', RandomForestRegressor()))
models.append(('SVR', SVR()))
models.append(('GBM', GradientBoostingRegressor()))

In [322]:
for name, model in models:
        rmse = np.sqrt(np.mean(-cross_val_score(model, X, y, cv = 10, scoring = "neg_mean_squared_error")))
        msg = "%s: (%f)" % (name, rmse)
        print(msg)

LR: (1476.463769)
RR: (1476.447534)
LR: (1476.465934)
ER: (1474.095380)
KNN: (1537.522437)
CART: (1554.177598)
RF: (1469.247035)
SVR: (1546.609750)
GBM: (1493.521009)

In [323]:
df_copy = sns.load_dataset('planets')
df_copy["orbital_period"]
df_copy.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [324]:
df_missingvalues= df_copy[df_copy["orbital_period"].isnull()]
df_missingvalues= df_missingvalues.drop("orbital_period",axis=1)
df_missingvalues = df_missingvalues.drop(["mass","distance","method"],axis=1)
df_missingvalues.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 29 to 1029
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   number  43 non-null     int64
 1   year    43 non-null     int64
dtypes: int64(2)
memory usage: 1.0 KB

In [325]:
best_model = RandomForestRegressor()

In [326]:
best_model.fit(X, y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [327]:
arr=best_model.predict(df_missingvalues)

In [328]:
arr

array([ 520.69702933,  466.80516755,  665.46722388,  766.7828568 ,
        655.48052217,  665.46722388,  910.52078131, 2506.96704554,
        766.7828568 ,  655.48052217,  420.63012682,  665.46722388,
        910.52078131,  655.48052217,  420.63012682,  655.48052217,
        655.48052217,  910.52078131,  420.63012682,  420.63012682,
       2492.2259145 ,  766.7828568 ,  766.7828568 , 1390.41440843,
        655.48052217,  420.63012682, 2506.96704554, 2506.96704554,
       2506.96704554,  655.48052217,  665.46722388, 1390.41440843,
       2506.96704554, 2491.58957692, 2491.58957692,  655.48052217,
        655.48052217,  655.48052217,  655.48052217,  420.63012682,
        766.7828568 ,  843.54176355, 2506.96704554])